body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;

}

.container {
    background-image: linear-gradient(to left, #c5ede9, #7ed6cd);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width:50%;
    margin-top: 20px;
}
.main-heading{
    text-align: center;
}
form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
    font-weight: bold;
}

input,
select {
    margin-bottom: 15px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.gender-options {
    display: flex;
    margin-bottom: 15px;
}

button {
    background-color: #566160;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    cursor: pointer;
}

.btn-green{
    background-color: #45a049;
    cursor: pointer;
}
/* input:invalid {
    border-color: #d9534f;
    box-shadow: 0 0 5px rgba(217, 83, 79, 0.5);
} */

#result {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.hidden {
    display: none;
}
.errorMessage {
    font-family: "Roboto";
    font-size: 14px;
    color: #dc3545;
}

.redBorder{
    border-color: #dc3545;
    border-width:2px;
}

.greenBorder{
    border-color:#45a049;
}
